*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
/config/development/*
*.tmproj
node_modules
build
.idea
/robots.txt
/nbproject
/docs
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
npm-debug.log

!.gitkeep

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
